<ul class="breadcrumb" style="margin-left: 10px; margin-right: 10px">
    <li><a href="#!/community">Community</a></li>
    <li class="active">Chat</li>
</ul>

<div style="display: flex;align-items: stretch; align-content: stretch;flex-direction: row">
    <div style="flex-direction: column">
        <div style="flex-basis: 200px; padding-right: 8px">
            col 1
        </div>

        <div style="flex-grow: 1; padding-right: 8px">
            col 2
        </div>
    </div>

    <div>footer</div>
</div>