<ul class="breadcrumb" style="margin-left: 10px; margin-right: 10px">
    <li><a href="#!/community">Community</a></li>
    <li class="active">Chat</li>
</ul>

<div class="chatTable">
    <div style="width: 10px; display: table-cell"></div>

    <div style="vertical-align: top;height: 100%; width: 200px; display: table-cell">
        <div class="list-group">
            <a href="#" class="list-group-item-heading">Users</a>
            <a href="#" class="list-group-item">spicymemer</a>
            <a href="#" class="list-group-item">minimum</a>
            <a href="#" class="list-group-item">ivan doritos</a>
            <a href="#" class="list-group-item">jacob</a>
        </div>
    </div>

    <div style="width: 10px; display: table-cell"></div>

    <div style="height: 100%;width: auto; display: table-cell">
        <div style="overflow-y: auto;margin-bottom: 0px; padding-bottom: 0px;height: 100%" class="well well-sm">
            3:05 PM - spicymemer: sleep tight pupper<br/>
            3:05 PM - minimum: hi how are ya<br/>
            3:05 PM - ivan doritos: ayymd<br/>
            3:06 PM - jacob: *hitler speech*<br/> 
        </div>
    </div>

    <div style="width: 10px; display: table-cell"></div>
</div>

<div style="height:10px"></div>

<div style="display: table; width: 100%">
    <div style="width: 10px; display: table-cell"></div>

    <div style="vertical-align: bottom; width: auto; display: table-cell">
        <input style="background-color: #464545; color:#eeeeee" class="form-control input-sm" id="inputSmall" type="text">
    </div>

    <div style="width: 10px; display: table-cell"></div>

    <div style="width: 60px; display: table-cell">
        <a href="" class="btn btn-primary btn-sm">Send</a>
    </div>

    <div style="width: 10px; display: table-cell"></div>
</div>

<div style="height:10px"></div>