<ul class="breadcrumb" style="margin-left: 10px; margin-right: 10px">
    <li><a href="#!/community">Community</a></li>
    <li class="active">Leaderboards</li>
</ul>

<h1 style="padding-left: 20px">Active Challenges</h1><br/>

<table class="table table-striped table-hover ">
    <thead>
    <tr>
        <th>Challenge</th>
        <th>Game</th>
        <th>Description</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>Hotline Miami: Deathwish</td>
        <td>Hotline Miami 2</td>
        <td>Get a high score on Deathwish in Hotline Miami 2.</td>
    </tr>
    </tbody>
</table>
<div style="width: 100%;text-align:center">
    <ul class="pagination">
        <li class="disabled"><a href="#">&laquo;</a></li>
        <li class="active"><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">&raquo;</a></li>
    </ul>
</div>

<br/>

<h1 style="padding-left: 20px">Past Challenges</h1><br/>

<table class="table table-striped table-hover ">
    <thead>
    <tr>
        <th>Challenge</th>
        <th>Game</th>
        <th>Description</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>Old Challenge</td>
        <td>Marathon</td>
        <td>A very old challenge.</td>
    </tr>
    </tbody>
</table>

<div style="width: 100%;text-align:center">
    <ul class="pagination">
        <li class="disabled"><a href="#">&laquo;</a></li>
        <li class="active"><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">&raquo;</a></li>
    </ul>
</div>