<ul class="breadcrumb" style="margin-left: 10px; margin-right: 10px">
    <li class="active">Community</li>
</ul>

<div style="text-align: center">
    <div class="jumbotron" style="display: inline-block;width:80%">
        <h1>The Community</h1>
        <h3><a href="#!/community/guests">Guests</a> - <a href="#!/community/chat">Chat</a> - <a href="#!/community/leaderboards">Leaderboards</a></h3>
        <br /><br />
        <p style="padding-left: 8px; padding-right: 8px">This is the community, the center of collaboration for the LANs.  Click on a section above to get started.</p>
    </div>
</div>