<ul class="breadcrumb" style="margin-left: 10px; margin-right: 10px">
    <li>Administration</li>
    <li class="active">Library</li>
</ul>

<div class="verticalNavArea">
    <div class="panel panel-default verticalNavAreaNav">
        <div class="panel-heading">Navigation</div>
        <div class="panel-body" ng-controller="AdminLibraryNav">
            <div ng-include="template"></div>
        </div>
    </div>
    <div class="verticalNavAreaDivider"></div>
    <div class="panel panel-default verticalNavAreaContent">
        <div class="panel-heading">Library Administration</div>
        <div class="panel-body">
            Welcome to the library administration panel!<br/><br/>
            To access library admin features please use the navigation menu to the left.
        </div>
    </div>
</div>