Accounts
<div class="sideNav">
    <a href="#!/admin/community/accounts/browse/1">Browse Accounts</a><br />
    <a href="#!/admin/community/accounts/create">Create Account</a><br />
    <a href="#!/admin/community/roles/browse">Browse Roles</a><br />
    <a href="#!/admin/community/roles/create">Create Role</a>
</div>
Chat
<div class="sideNav">
    <a href="#!/admin/community/chat/browse">Browse Rooms</a>
</div>
Events
<div class="sideNav">
    <a href="#!/admin/community/events/browse">Browse Events</a><br />
    <a href="#!/admin/community/events/create">Create Event</a>
</div>
Awards
<div class="sideNav">
    <a href="#!/admin/community/awards/browse">Browse Awards</a><br />
    <a href="#!/admin/community/awards/create">Create Award</a>
</div>
Leaderboards
<div class="sideNav">
    <a href="#!/admin/community/leaderboards/browse">Browse Leaderboards</a><br />
    <a href="#!/admin/community/leaderboards/create">Create Leaderboard</a>
</div>